main {
    flex: 1;
    margin-left: 30px;
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    gap: 20px;
}



@media(max-width: 1000px) {
    #app {
        flex-direction: column;
    }

    #app main {
        margin-left: 0;
        margin-top: 30px;
    }

    #app aside {
        width: 100%
    }
}


@media(max-width: 650px) {
    main ul {
        grid-template-columns: 1fr;
    }
}
